[2018-09-11 15:34] gnanet opened #1 "Communication and forks"
After seeng @crazy4chrissi fork, which addressed lot of things i have not discovered myself, i decided to open up tickets, to enable communication.

Also i consider to rename the default branch, to avoid using my nickname, and to avoid the propagation of it.

As the only one who also works on the code is @crazy4chrissi i would ask him for some ideas, how the default branch should be named

[2018-09-11 17:31] gnanet commented on #1
I will test if everything works as expected from the gnafixes-mobile-crazy4chrissi branch and will merge it into gnafixes prior anything

[2018-09-11 17:40] crazy4chrissi commented on #1
I don't care much about the branch name. We could just name it `gc` (g for gnanet and c for crazy4chrissi). mailzu-gc sounds good.

[2018-09-11 17:58] gnanet commented on #1
i agree mailzu-gc ( it sounds also like  garbage-cleaned :D )

[2018-09-12 12:32] crazy4chrissi commented on #1
I committed another change into my fork that adds a link to Virustotal to easily check attachments. It does not upload the attachment to virustotal, it just checks it based on its sha256.

I know I should finally merge with you and move to mailzu-gc branch....

[2018-09-12 14:27] crazy4chrissi commented on #1
I merged your mailzu-gc together with my gnafixes branch into my (new) mailzu-gc branch.
I noticed we have a huge mess of tab versus space indention. Currently, some lines of the same file are space-indented (some 4, some 2 spaces) and some are tab indented.
We need to decide on one. I would vote for tabs. What do you think?

[2018-09-12 14:46] gnanet commented on #1
If we can agree on 4space = 1tab i can arrange myself a pre processor, that convertsthis.

[2018-09-12 19:34] gnanet commented on #1
After you merged my mailzu-gc branch, did you notice 3-4 commits of you were reverted? I did not had the time to apply 4 patches starting with privilege escalation fix, ending with omit warning in php7.

I would like to sync to your fork to properly include commits, and that way later changes can also be merged back to me easily.

My first attempts to take changes from your fork and manually apply

[2018-09-12 20:12] gnanet commented on #1
I think i found the docs about this, and some possible ways to resolve the merge conflicts the "github way" so we can start somewhere to exchange code and github can also follow the connection of these changes.

Notes to myself:
The article [about merge conflicts](https://help.github.com/articles/about-merge-conflicts/) details some simple resolutions.

But in case the merge fails because of more

[2018-09-12 20:19] gnanet commented on #1
I will make some tests, which will include making pull requests from your fork to mine, and trying out the conflict resolution versions.

[2018-09-13 07:54] crazy4chrissi commented on #1
Actually I tried pulling your fork into mine using a github pull request and ended up resolving the conflicts locally. I think I did not revert my changes in my mailzu-gc branch, everything should be merged.

Regarding the tabs and spaces: I know I voted for tabs but I now think spaces are better. Basically, because it is more common in PHP, because PEAR uses it, and because new people submitting

[2018-09-13 08:03] crazy4chrissi commented on #1
Regarding the pull requests and everything: We could also just start a mailzu-gc project on github and both commit to the same repository.

[2018-09-13 11:38] gnanet commented on #1
Today i am in the office, so i only can react partially:
 - Tabs+Spaces -> i normally change _nanorc_ to **tabsize 4**, and **tabstospaces yes** where i work on code BUT :  I started using [PHP-CS-Fixer](https://github.com/FriendsOfPHP/PHP-CS-Fixer) at my repo of [Open Raspberry Pi Server Dashboard](https://github.com/gnanet/openrsd) which cleared a lot of other code-style issues too
- Push-Pull -

[2018-09-24 17:57] gnanet commented on #1
I done a branch2branch merge, and created mailzu-gc-reformatted too, the code merge seemed to succeed, i only made a mistake in the order of commiting local changes prior fetching some change from github-origin, but its only a matter of commit order. But now we have a common branch that can receive PR-s if you develop something, also you can do a reverse PR to sync my changes to your fork.

[2018-10-03 05:55] thnilsen opened #3 "LDAP TLS support + Languague support for Norwegian"
Hi,
This is more if an FYI than an issue...

I've added LDAP TLS support to MailZu which might be of interest to others. My repo is at https://github.com/thnilsen/mailzu.

The Norwegian translation still needs some more work.

[2018-10-03 12:50] gnanet commented on #3
Yes i already been looking at your fork. could you reapply your changes to mailzu-gc-reformatted , and then open a pullrequest to me? I have no ldap currently to test, but i would  be happy to merge it.

[2018-10-03 15:05] thnilsen commented on #3
Changes applied to the mailzu-gc-reformatted branch, and I've generated a pull request. Let me know if anything else is required.

The TLS change is up and running against an AD production environment.

[2018-10-03 15:18] gnanet commented on #3
Great, ill get home in a couple of hours, and review them

[2018-10-04 21:16] gnanet commented on #3
Merged #4

[2018-10-04 21:16] #3 closed, assigned to nobody

[2019-10-10 20:23] kkmaslowski opened #5 "can't connect to database"
Hi.
I tried to run mailzu on 2 different mail servers without success.
First server is running CentOS 7 (php 5.4, mariadb 5.5), second one is Ubuntu 18.04 (php 7.2, mariadb 10.1). Both are running iredmail. I can't connect to database on both of them.
Error on CentOS 7:
Error connecting to database: DB Error: connect failed

Error on Ubuntu 18.04:
Error connecting to database: DB Error: extension

[2019-10-11 01:40] gnanet commented on #5
please add some detail about your setup:

what do you have set in `mailzu/config/config.php` for the **dbType** ? Recent PHP needs to have **mysqli** there
[code]

For the Centos7 variant, please test the SQL connection data you provided in the `mailzu/config/config.php` from shell with exaclty the same values (ensure that a localhost is tcp localhost, and not mariadb-s magical unix socket and plu

[2019-10-11 08:33] kkmaslowski commented on #5
Hi. I switched dbtype to mysqli and it worked! Thanks for quick answer and please update documentation and comments in config.php (now there is only information about mysql db type).

Now I have another problem- Mailzu does not find any messages. I enabled debug. When I click 'Site Quarantine' -> 'Search' I got no results.
In log I see query:

[code]

I tried to run it manually in mysql client and

[2019-10-11 13:04] gnanet commented on #5
Be aware that `LEFT JOIN maddr AS recip` and `LEFT JOIN maddr AS sender` allow the SQL query to lookup senders and recipients email-address in the table **maddr** at the same time.

Also a quick check in iRedMails sources shows me, the msgrcpt table has a column named rs
https://bitbucket.org/zhb/iredmail/src/d97300a9276f97613b3902d1bb37809342673ad3/iRedMail/samples/amavisd/amavisd.mysql#lines-241

[2019-10-11 13:49] kkmaslowski commented on #5
Sorry, my fault. Select is working but not returning any messages:

MariaDB [amavisd]> SELECT msgs.time_num,msgs.from_addr,msgs.mail_id,msgs.subject,msgs.spam_level,msgs.content,msgrcpt.rs,msgs.quar_type,recip.email FROM msgs INNER JOIN msgrcpt ON msgs.mail_id = msgrcpt.mail_id LEFT JOIN maddr AS sender ON msgs.sid = sender.id LEFT JOIN maddr AS recip  ON msgrcpt.rid = recip.id WHERE  msgs.content

[2019-10-11 15:46] gnanet commented on #5
I think the next thing you need to check is the configuration of amavis itself.

I saw one conversation that seems to be similar to your current problem

https://amavis-users.amavis.narkive.com/hPxGPAUW/amavisd-release-does-not-work-with-sql-quarantine-missing-quar-type-q

[2019-10-13 08:28] kkmaslowski commented on #5
Thanks @gnanet. It was a problem with iRedMail. Database quarantine was not fully enabled. I wrote post about it here: https://forum.iredmail.org/topic16098-spamquarantineto-empty-in-policy-table-quarantine-not-working.html

I also found different updated version of Mailzu in BSD ports: https://bugs.freebsd.org/bugzilla/show_bug.cgi?id=230712, https://www.freshports.org/security/mailzu/
Maybe you

[2019-10-13 08:55] gnanet commented on #5
Thank you for pointing on the BSD ports. I will have a look at this, to see how much i can take over from their fixes/changes

[2019-10-13 08:56] kkmaslowski commented on #5
Thanks for continuing work on this project. Great work!

[2019-10-13 08:56] #5 closed, assigned to nobody

[2019-10-13 08:57] gnanet opened #6 "Check BSD ports fixes/updates"
Based on #5 by @kkmaslowski

I also found different updated version of Mailzu in BSD ports: https://bugs.freebsd.org/bugzilla/show_bug.cgi?id=230712, https://www.freshports.org/security/mailzu/
Maybe you can review patches from there and merge them? For example there is Polish language in it.

[2019-10-14 13:31] gnanet commented on #6
So, i took the time, to compare the freebsd-ports version by doing an svn checkout, and looking at the patches, interesting, is that i found lot of them already done in my fork.

 - I would avoid the uncoditional search-and-replace, that prefixed every occurrence of the word **function** with `public static`, but it is a motivation to improve php7 compatibility on my fork
 - the case typo `$conf['

[2019-10-14 14:16] gnanet commented on #6
Added polish language in commit b0a0dd610d6e1bb8332be5a9cfd102b94f161628

[2019-10-14 18:17] gnanet commented on #6
Collected the functions that are referenced by static calls, and looked into my source, and found, that i already had to fix these declarations, so they are also PHP7 compatible

[2019-10-14 18:42] gnanet commented on #6
Static called functions/methods (only MailZu's own) as they are called, grouped by their class/file:

**class Auth**
[code]

Current line position in lib/Auth.class.php
[code]

**class CmnFns**
[code]

Current line position in lib/CmnFns.class.php
[code]

[2019-10-14 18:54] gnanet commented on #6
Based on the code-, and changeset reviews i done above, i would say, that the currently available FreeBSD ports version of MailZu is about the same level of updates than my fork. The possible reason is, that the Ports patches are based on the sourceforge version (7years old), but that was forked to github by @zedzedtop and a few updates were already committed (5 years ago).

[2019-10-14 18:54] #6 closed, assigned to gnanet

[2019-11-20 23:45] xndr opened #7 "[Needs testing] - [PostgreSQL] bytea typed mail_id and recip_email presented as xNNN... hexa"
Hi,

In the Site Quarantine, the "mail_id" and "recip_email" variables are coming up as gibberish such as: x3955376a4c7a44702d7a6453, as well when clicking the subject, you can see in the URL the values for mail_id and recip_email are the same gibberish values.

If I manually enter the real mail_id & recipient email address as shown in the Amavis PG DB in the quarantine, the message shows up corre

[2019-11-21 01:16] gnanet commented on #7
For me,this seems to be a blob/binary field casted wrongly into a HEXA representation, in short:
the problem lies somwhere around the SQL query and the SQL-Server.

Your sample data starts with an "x" what quickly led me to try cyberChef to "unhex" your data:
[code]

or click here to see the [cyberChef recipe that returns a mail_id looking string](https://gchq.github.io/CyberChef/#recipe=From_Hex(

[2019-11-21 01:38] gnanet commented on #7
One thing, that you should check what you have in your config.php set for `binquar`.

I use this:
[code]

[2019-11-21 15:40] xndr commented on #7
For the hex string, you are correct, that decodes to the specific mail_id I was testing with.

However, switching $conf['db']['binquar'] to true didn't seem to have any effect on the situation.

[2019-11-21 15:50] xndr commented on #7
I am not sure about the collation, but I can include a pg_dump of the schema if that helps? The database was created using the instructions in README.sql-pg that came along with this version of Amavisd-new (2.11.1).

-- Dumped by pg_dump version 10.10 (Ubuntu 10.10-0ubuntu0.18.04.1)

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding =

[2019-11-21 16:24] xndr commented on #7
<img width="424" alt="Screen Shot 2019-11-21 at 8 23 03 AM" src="https://user-images.githubusercontent.com/27174230/69356408-472c2a00-0c38-11ea-9f8e-fb5ccd45ac32.png">

[2019-11-21 16:37] gnanet commented on #7
First of all, i have no Postgres running, honestly i dont use it, but in general the queries should behave similar.

AND yes, there it is:
[code]

Every field that you would expect to return some kind of text-content, but was specified with **bytea** holds the binary representation of your textcontent.

Found some relevant info here:
http://oguridbtech.blogspot.com/2017/12/convert-bytea-to-text-in

[2019-11-21 17:00] xndr commented on #7
I appreciate your help!
Looking at the code in DBEngine.class.php, in get_raw_mail() for example, it seems like it is already doing a "select encode(mail_id,'escape')" type of query if $conf['db']['binquar'] = true; for any DB type other than mysql or mysqli.

Slowly going through the code to see if perhaps a function doesn't do this check and just gets the raw output from the DB.

I also did a te

[2019-11-21 17:14] gnanet commented on #7
Following a second search, specific to Pgsql, I looked into [amavis sql-pg readme](https://amavis.org/README.sql-pg.txt)

I think the changes need to be similar to the already considered
[binquar for mail_text](https://github.com/gnanet/mailzu/blob/mailzu-gc-reformatted/lib/DBEngine.class.php#L638 )

[code]

selecting these

- mail_id
- secret_id
- email

should be done either with

[code]

or

[c

[2019-11-21 17:56] xndr commented on #7
My Amavis config file contains:

$sql_allow_8bit_address = 1;

Thank you for the clarification as well.

[2019-11-21 18:03] xndr commented on #7
I got MailZu to work correctly. I will test it further as the day goes by to see if there's other areas that need to have corrected queries, but so far the user and site quarantine summary shows up correctly, allowing me to click on the subject and get see the email.

I only edited/harcoded the existing queries where they were. I haven't made yet the same validations for dbtype = mysql/mysqli vs p

[2019-11-21 18:29] gnanet commented on #7
To enable configurability,and error-free usage for both mysql and pgsql, i will make changes that try to be aware of the DB used, and maybe i'll try to prevent further **bytea** issues by examining the tables,and proactively switch queries to `encode()`  where i find `bytea` fields in `show create table`

[2019-11-22 18:35] gnanet commented on #7
@xndr could you run this SQL Query on your PostgreSQL server, and paste the result back here?

**IMPORTANT: replace `<the amavis/mailzu database name>` with the database name of your amavis setup**

[code]

If i am right, then i will use this general SQL query to identify fields that need attention.

[2019-11-22 19:12] gnanet commented on #7
I have done this on my system (amavisd-new-2.7.1 ; MySQL 5.6.39)

[code]

[2019-11-22 23:16] gnanet commented on #7
I just realize, that everytime i looked at the database, i used phpmyadmin, and it was configured to show varbinary as human readable string.

I searched the code of PMA, and found 2 ways to accomplish the conversion within PHP, without changing the SQL query:

[code]

And executing the above script:

[code]

[2019-11-23 00:14] xndr commented on #7
That query you wanted me to run on Postgres didn't work. It failed at the "USE information_schema;" command.

I don't have remote access to this system, but if you need me to do further testing, I can look into it on Monday.

[2019-11-23 01:01] gnanet commented on #7
The motivation behind my question is to have an example output of amavis on pgsql to see how the binary columns look. But i can quickliy spin up a pgsql instance at DigitalOcean, and try the query there.

The `use information_schema` is where i am not sure how it should be on pgsql, i only hoped, that it is like on mysql.

But after my recent development, i could simply check for the value format,

[2019-11-27 20:39] xndr commented on #7
Hi Gergely, I found another instance where it seems MailZu appears to get the raw value as x12345abcd format rather than the human readable form.

When releasing an email from the quarantine, MailZu fails with a blank error code (no error text in the "Status" column), however, I see this in the amavis.log:

(!!)policy_server FAILED: Secret_id x676a70374d6c556b4d757175 does not match mail_id W42k0x

[2019-11-28 18:14] gnanet commented on #7
Thank you, if it is possible, i would create a changed set of files, that try to solve such issue by detecting the unwanted hex response. If it is possible, i would ask you to try them on that instance, also the exact form of the hex representation would be useful, as i see the amavis release error log is one such  good example

[2019-12-02 17:24] xndr commented on #7
For reference, to fix the quarantine release issue between MailZu and Amavis 2.11 w/ a Postgres 10 DB, I modified lib/DBEngine.class.php, under the function get_message($emailaddress, $mail_id) the $query statement at line 534/535:

            . ' msgrcpt.rs, encode(recip.email,\'escape\') AS email, msgs.host, msgs.content, msgs.quar_type, msgs.quar_loc'

[2019-12-06 12:56] gnanet commented on #7
@xndr thanks,

I created a branch of the code, that should detect if one of the binary-suspicious fields returns a hex content.
It should write it into the mailzu log .
If you could set debug on, for some tests, next time you can access the mailzu instances:
[code]
Then the relevant part of `mailzu.log` on these tests would help me, to decide on the final solution.

You can grab the branch as ZIP

[2019-12-20 18:22] gnanet commented on #7
@xndr  The only problem with your fix is, that it is hard-coding a Postgres-only function, that will cause problems for users, wo run MySQL / MariaDB.

This is why i tried to create a DB-Server independent solution, but without having access to a similar setup where you found the problem, i am unable to test, nor confirm the solution.

[2019-12-20 18:54] xndr commented on #7
I agree. I only made a hardcoded edit because I needed something to work very quickly to replace a Barracuda that died. I will try to clean up my edits to be DB agnostic (test if the DB is Postgres or not, and go with the modified queries only if the backend is Postgres).

I should have time to do that over the holidays.

[2019-12-20 19:24] gnanet commented on #7
Do you see a chance to try my db agnostic solution?

[2020-01-23 23:14] QkiZMR opened #8 "Unable to release mails from quarantine"
I'm not able to release mails from quarantine. There's a error message in mail.log:

[code]
It look like Mailzu is sending some wrong command to AM.PDP 9998 port.

[2020-01-24 17:21] QkiZMR commented on #8
I found error in Amavis config. Previously I was using policy named `AM.PDP-SOCK` and I didn't change it to `AM.PDP`. After changing and restart Amavis I can release mails from quarantine with Mailzu.

[2020-01-24 17:21] #8 closed, assigned to nobody

[2020-01-25 01:17] gnanet commented on #8
i assumed that this will be a config issue on the amavis side, but got to reply you only now.
Anyway, thank you for sharing the solution too.

[2020-02-05 05:18] toushin-taishi opened #9 "Which anti-virus detected the malware"
Hi. First of all, thank you for such a wonderful amavisd-new quarantine tool which is quite indispensable on mail setups using amavisd-new for filtering.
I would like to know if it's possible on a multi anti-virus engine configuration to identify which anti-virus detected the malware? Thanks!

[2020-02-08 05:07] gnanet commented on #9
Only amavisd-new can give you the information you want, and the info has to be stored somehow into the database first, to be able to display it, so it is out of the scope of mailzu to "identify" the virus-scanner for a particular quarantine item.

I can only suggest you to open a ticket with your question at the amavisd-new project: https://gitlab.com/amavis/amavis/issues

If there is a way to get

[2020-02-08 05:07] #9 closed, assigned to nobody

[2021-09-16 16:02] pestevao opened #10 "Rewrite to move away from PEAR packages - Mail_mimeDecode"
Hello,

I've just installed MailZu from this fork, thank you for not letting this usefull piece of code die!

In this procces I have realised that there is another PEAR package needed - Mail_mimeDecode - that haven't see referenced in docs/INSTALL under requirements.

Greetings, Pedro

[2021-10-26 15:43] SoniXtrA opened #11 "Rewrite database to use PHP PDO"
Hi,
Could it be possible to make Mailzu PHP PDO compliant ?
With PHP7.3 (Debian 10) and an up to date MySQL release, some functions are deprecated (PEAR, use of mysqli, etc ... ) :(
it seems there is no alternative to manage Amavis Quarantine .... So could it be possible to make the update ?
If you need testing, let me know
Regards

[2021-10-26 19:08] gnanet commented on #11
Actually i agree, there is almost no solution, (maybe some deeply intgrated software-packages) in this field, or like amacube for roundcube, abandoned.

I am not a programmer, most stuff i added were fixes, some minor changes, so a full rewrite to be PHP7.3+ or now better 8.0 compatible, would be out of my possibilities.

But give me some time, i need to have a closer look what amount needs to be

[2021-10-26 21:40] gnanet commented on #11
Done a bit research, some coderefactoring could be done using rector-php, but replacing the pear/db part with pdo cannot be done in the same/similar automatized way.

But actually most of the calls are almost similar:

function db_connect() is mainly this with PEAR/DB:

[code]

which would be written with PDO:

[code]

Above structure shows, it would be possible to rewrite the database layer, the

[2021-10-26 22:51] gnanet commented on #11
Continued to examine the migration of PEAR/DB -> PDO, and collected some samples.

**NOTE: these are only sample codes, not tested, and may need to be implemented in different parts of the mailzu-code, not as a single function (like the  check_for_error() which needs its own rewrite )**

Current read-type DB function is roughly the following:

[code]
**IMPORTANT: NEVER USE fetchAll() for a rowcoun

[2021-10-26 23:08] Corfiot commented on #11
I'm keeping an eye on this, too. I can't currently do it myself due to being swamped with other things but I'll contribute fixes if I see anything on the way. It seems like a more or less straightforward task.

E.g. in the write segment I'd recommend leaving error checking as it is and replacing the $this->check_for_error call with
`return $this->check_for_error($result,$query);`
and setting

[cod

[2021-10-26 23:10] Corfiot commented on #11
Looking at  get_some_database_data_pdo() it is so memory hungry, loading everything twice, doesn't amavis have some huge queries? Does this currently actually work?

[2021-10-27 02:53] gnanet commented on #11
Oh, NO! Do Not copy-paste these codes please.

The PDO variants were written only to demonstrate the similarities and possible code-migrations, but i never intended to use them unconditionally or without any prior performance-checks.

What you experienced was warned about in the php-docs, using `fetchAll()` is a memory-hog, so beter skip that.

[2021-10-27 03:05] gnanet commented on #11
@Corfiot i edited my comment to warn others about the codes being not 1:1 usable, or even tested.

Did not expect that someone will see this thread so quick, just planned to use these notes to implement a database-class myself in the coming weeks.

[2021-10-27 03:20] gnanet commented on #11
The rewrite of the database related classes raise the issue that lot of classes have each other "cross include_once()-ed", so a reimplementation how all the classes are loaded, and used is also on plan

[2021-10-27 03:29] gnanet opened #12 "[mailzu-ng] starter"
Starting the complete rewrite of mailzu libs and classes

- [ ] refactor code to support PHP7.4+ (using rectorphp/rector)
- [x] refactor code to support up to PHP7.3 (using rectorphp/rector) to maintain backward compatibility
- [x] class-dependencies cleanup, no more cross-including #14
- [x] PDO-based DBEngine + DBAuth classes - #11
- [ ] optimization of SQL-queries if possible
- [ ] replace Mail

[2021-10-27 07:05] SoniXtrA commented on #11
I started yesterday to rewrite database access in the exactly same way as written with PEAR.
=> DBAuth seems to be fully functional (except logs in files through "check_for_error" function)
=> DBEngine is ok for parsing quarantined mails or to read a mail to check headers ... But, ATM, I can't delete or release a mail.
Thus, the "check_for_error function" is not fully functional to correctly check

[2021-10-27 07:30] rbicelli commented on #12
Why not use a framework supported by Rector? i.e. Laravel or CodeIgniter?

[2021-10-27 07:37] gnanet commented on #12
@rbicelli what we have is a bunch of code, thrown together, far from ideal, or from structured classes etc. Without the initial code being a framework, Rector cannot do much in that direction.

[2021-10-27 09:52] gnanet commented on #11
@SoniXtrA  check_for_error is not more than a check on the boolean for example  $result = $q->execute(); then you have $result true/false, and in case the $result is FALSE, the errorInfo()  is printed/logged etc.

"Delete" is mainly an SQL UPDATE, to set the RS status
"Release" needs connection to Amavis over TCP, and an SQL UPDATE to set the RS status

[2021-10-27 10:17] rbicelli commented on #12
Was asking because looking in sources looks like majority of libraries are now integrated in framework:
- SMTP
- IMAP
- LDAP
I understand that a rewrite takes much effort, but to me it worth investigating since codebase is not as huge.

[2021-10-27 10:29] gnanet commented on #12
Recreate this from ground up, that is a thing for someone with daily routine, and knowledge in developing PHP and a choosen framework. I am only a sysadmin, who is able to hack some code, change nuts-and-bolts, but my abilities mostly end there, and in the end it's a one-man-show on a project that is not developed by the original author for 8years already.

I also see a lot of parts where improvem

[2021-10-27 23:55] gnanet commented on #11
@Corfiot  - my fault, i did not read the docs correctly, **PDOStatement** class has one property `$queryString` so i did not need to pass more than 2 parameters. Fixed function below

I started to write the DBEngine.class.php, and i realized, the check_for_error() needs indeed a better rewrite, so here is my approach:

[code]

[2021-10-28 01:39] gnanet commented on #11
~~Did~~ Started my rewrite for PDO, and done a bit rector upgrade to PHP 7.4 in fe8366c754d75c028ccc4c07d5664439c96de8ec

**Please be careful this is untested code!**
 have a look at the branch [mailzu-ng-rector](https://github.com/gnanet/mailzu/tree/mailzu-ng-rector)
**Please be careful this is untested code!**

But i could test only on a system with mailzu on it where i have only PHP7.2, so i ha

[2021-10-28 15:21] gnanet commented on #11
There are lot of fixes, and i was able to get behind the issue of not Deleting/Releasing reported by @SoniXtrA
some PEAR/DB stuff lett in lib/Quarantine.lib.php, and error reporting was switched off in messagesProcessing.php thats why there was no error-log. im on it tofix those bugs

[2021-10-28 15:48] SoniXtrA commented on #11
Wow :) :) :) lots of thanks !
=> I will test rector branch tomorrow on my debian. Tell me if you prefer I wait for a more stable release or what you want I could test ...
really thanks for everything !

[2021-10-28 16:09] gnanet commented on #11
@SoniXtrA current state of branch mailzu-ng-rector contains hopefully all important changes for switching to PDO.
The rector-php changes to switch PHP7.4 contain non-backwards-compatible class variable typings, and utilizes the is_countable() function, for my tests i had to revert the var ... declarations, and the is_countable changes.

Lucky me: The test was done on a PHP7.2 that had no pear init

[2021-10-29 12:59] SoniXtrA commented on #11
Hi,

So I tried to use "mailzu-ng-rector"... => new config file modified with my DB infos and pear modules already installed.
Accessing mailzu web page give me many errors concerning some PHP variables in "Pager.class.php", declared as followed ;
`    // Application set variables
    var ?int $cur_page = null;
    var $query_string;
    var $tot_pages;
    var ?string $page_var = null;
    var ?st

[2021-10-29 13:43] gnanet commented on #11
@SoniXtrA these errors i got with PHP7.2 so i will push a branch tonight, which  i used to test.

Reading your eadit, i just said: " i knew i it, oh yes" :D

[2021-10-29 13:52] Corfiot commented on #11
Guys, https://www.php.net/supported-versions.php
We should be doing 7.4+. If not 8.0

[2021-10-29 14:49] gnanet commented on #11
If you check the recent changelog, you will see, the goal is at least 7.4, but as it contains some small not backward compatible changes, and i can tell you from experience, that there are still many mailservers which are not that up-to-date, and an upgrade is not easily possible, for those systems the most recent PHP is 7.2 or 7.3.

This project is not a success because of being bleedingedge, but

[2021-10-31 22:59] gnanet commented on #11
@SoniXtrA i have to apologize. I am organizing the issues, and have read the starter description of your issue again, and you clearly stated your php version was 7.3. I was wrong to suggest you the 7.4 branch. I will  upload my 7.3 compatible branch as soon as i get home.

[2021-10-31 23:22] gnanet commented on #10
Current developments included the reference to Mail_mimeDecode in INSTALL,  but the plan is to rmove away from Pear Mail and Mimedecode and use for example mailparse extension

[2021-10-31 23:44] gnanet opened #13 "Update PHPMailer"
Should be  updated asap at least to [PHPMailer class version
1.73](https://github.com/PHPMailer/PHPMailer/blob/master/changelog.md#version-173-sun-jun-10-2005)

[2021-11-01 01:54] gnanet commented on #11
@SoniXtrA did some tests to start over with rector to make changes to php 7.3 instead and compared to the mostly working code that rector proposed changeset would possibly cause problems. So i really will need to get home and do my refactoring by hand

[2021-11-01 06:45] SoniXtrA commented on #11
No worry, really 😊👍

[2021-11-01 20:39] gnanet opened #14 "Class-dependencies cleanup"
### Introduction
During the first tests to upgrade the code to either PHP 7.4 or 7.3 using rector-php, the resulting code seem to contain bugs, because the way rector traversed the code, it found some functions only later than their stub-function variant ( and the stub was intentionally not requiring parameters), and that lead to parameter-removal in some parts of the code.

### Proposal
To ensure

[2021-11-02 05:39] gnanet commented on #14
Branch [mailzu-ng-php72](https://github.com/gnanet/mailzu/tree/mailzu-ng-php72) contains first steps to solve this

[2021-11-02 05:40] gnanet commented on #11
@SoniXtrA please grab the branch [mailzu-ng-php72](https://github.com/gnanet/mailzu/tree/mailzu-ng-php72) and try to test it

[2021-11-02 10:21] SoniXtrA commented on #11
Sorry I made a mistake, I closed the issue but it wasn't what I want to do :(
So I tested the new branch...

- when I select "Site Quarantine", I saw all the quarantined email because I set "searchOnly to 0" so its OK
- if select an email to view it, it's OK
But :
if I want to delete it, I get the following error :
![image](https://user-images.githubusercontent.com/93148112/139827963-1c92ee2f-7d38

[2021-11-02 10:31] gnanet commented on #11
I will check the sql query closer, but my first ide would be to look into the maddr table, and check if you may have more that one entry for the email address, which is an unexpected state of the maddr table. I will try to find the detailed description why there should be only 1 row per mailaddress

[2021-11-02 10:38] gnanet commented on #11
Yes i remember that there should only be one result for one e-mail adress:

https://www.ijs.si/software/amavisd/README.sql-mysql.txt

**provide unique id for each e-mail address, avoids storing copies**

[code]

[2021-11-02 10:57] SoniXtrA commented on #11
I think you put the finger on the problem ... I have duplicates email in "email" field of my "maddr" table
Here is the result of the **SHOW CREATE TABLE maddr;** for my "maddr" table ...
`
CREATE TABLE `maddr` (
 `partition_tag` int(11) DEFAULT 0,
 `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
 `email` varbinary(255) NOT NULL,
 `domain` varchar(255) NOT NULL,
 PRIMARY KEY (`id`),
 UNIQUE KEY `

[2021-11-02 11:22] gnanet commented on #11
Interesting is, that your mysql does not yell at you because you have `UNIQUE KEY part_email (partition_tag,email) ` which means the combination of the two fields have to be unique in your table:
`0admin@YOURDOMAIN.TLD`

to be honest i cant imagine how that was possible to insert, but remove the duplicates one-by-one with

[code]

also if you had inconsistencies there, you might have also such hic

[2021-11-02 11:25] gnanet commented on #11
# Before you try any of the below queries, MAKE BACKUP OF THE AMAVIS DB

Cleaning up deleted and not referenced items:

[code]

[2021-11-02 16:01] SoniXtrA commented on #11
Ok
Backup done !
I deleted every duplicates in "maddr" table
I run your 4 SQL Delete => no error
After that, I removed an index named "part_email" to be able to run the following SQL request to add constraint
`ALTER TABLE maddr ADD CONSTRAINT part_email UNIQUE (partition_tag,email);`
=> no error.

The "**SHOW CREATE TABLE maddr**" give me :
`CREATE TABLE `maddr` (
 `partition_tag` int(11) DEFAULT

[2021-11-02 16:37] SoniXtrA commented on #11
I stopped amavis, I exported datas form maddr to sql file.
I created a new table maddr_2 from "https://www.ijs.si/software/amavisd/README.sql-mysql.txt"
I imported datas from file to maddr_2
I renamed maddr to maddr_old and maddr_2 to maddr
I started amavis ...
And new duplicates can still be inserted in table :( Really I don't know what's happen ..

[2021-11-02 16:39] gnanet commented on #11
Do you see any repetition behind the duplicated email-s in the madr table? I wonder if there is some minor misconfiguration in the amavis sql storage setup, and maybe the duplicates are written by amavis itself. Check if you have configured some $sql_partition_tag = in your amavis configs

also you can check for yourself if you did some unwanted partitioning somewhere
[code]

[2021-11-02 16:46] gnanet commented on #11
Reading on, i found this:
https://github.com/srault95/amavisd-new/blob/master/RELEASE_NOTES#L3538

Where the code suggest to hardcode the partition_tag into the query:

the old query
[code]
would become
[code]

everywhere.

[2021-11-02 16:53] gnanet commented on #11
Try to use latest **mailzu-ng-php72** branch

[2021-11-02 16:59] gnanet commented on #11
also ensure you have set this to zero in amavis config
[code]

[2021-11-02 17:11] SoniXtrA commented on #11
In my "amavisd.conf" I have :
$sql_partition_tag = sub { my($msginfo)=@_; iso8601_week($msginfo->rx_time) };

in "maddr" :
   partition_tag goes from "2" to "44"
   id goes from "207005" to "221941"
   and email field contains email addresses from 12 characters to 93 ... but they seemed to be normally

When I check for duplicates :
`SELECT   COUNT(*) AS nbr_doublon, partition_tag, id, email, domai

[2021-11-02 17:21] SoniXtrA commented on #11
FYI : column "To" (Mailzu-ng-php72) only contains "(none)"...
![image](https://user-images.githubusercontent.com/93148112/139914322-c012dfc2-9b21-48e0-b271-c3877ae94e6f.png)

[2021-11-02 17:23] gnanet commented on #11
**Your problem** is caused by this:
[code]
Read: https://github.com/srault95/amavisd-new/blob/master/RELEASE_NOTES#L3498

[2021-11-02 17:25] gnanet commented on #11
As you do not have the same email address once, but multiple times, to determine destination, we would need to retrieve the partition_tag for the messages tobe listed, and from there, we would have to provide the same partition_tag for release and delete of messages too.

[2021-11-02 17:31] SoniXtrA commented on #11
So, as mentioned, I set the "sql_partition_tag" to 0 and I have to run the following :
    ALTER TABLE maddr      ADD partition_tag integer DEFAULT 0;
    ALTER TABLE msgs       ADD partition_tag integer DEFAULT 0;
    ALTER TABLE msgrcpt    ADD partition_tag integer DEFAULT 0;
    ALTER TABLE quarantine ADD partition_tag integer DEFAULT 0;

and

  => MySQL:
  ALTER TABLE maddr
    DROP KEY email,

[2021-11-02 17:32] gnanet commented on #11
OK, give me some time, i will have to rewrite multimple parts of the code, because if i am right, `msgs` contains the partition_tag, and as such, i can retrieve it for use in the other queries, and in the release request.

[2021-11-02 17:36] SoniXtrA commented on #11
yes, of course...
But do I have to replace every values of "partition_tag" by a "0" in every tables maddr, msgs, msgrcpt  and quarantine  ?
And delete duplicates ...

[2021-11-02 17:38] gnanet commented on #11
**NO: because you already have the column for partition_Tag, is its not defined to be default 0 maybe you just have to change that..**

**NO: This part is already in effect for you exaclty because you have different partitioning for the same email.**

As i said before, i have looked on the code, and if my assumption is right, you have the same partition_tag in msgs and maddr  for a particular mess

[2021-11-02 17:47] gnanet commented on #11
NO :D Just help me to ensure the msgs part_id refers to the same as in maddr for a message and its connected email-addresses

[2021-11-02 18:38] gnanet commented on #11
### The bits and pieces of implementing partition_tag aware message / address / release handling
not the complete list, but enough to get a picture about the task

https://www.ijs.si/software/amavisd/README.protocol.txt

https://github.com/gnanet/mailzu/blob/mailzu-ng-php72/lib/DBEngine.class.php#L420

https://github.com/gnanet/mailzu/blob/mailzu-ng-php72/lib/DBEngine.class.php#L510

https://githu

[2021-11-02 19:09] gnanet commented on #11
@SoniXtrA its time for a new test with the **mailzu-ng-php72** branch. last commit was: 1222268

[2021-11-02 20:31] gnanet commented on #1
With the start of mailzu-ng this task is closed. The new rewrite supports PHP versions 7.2+ and it replaces PEAR/DB, and supersedes the forks here.

[2021-11-02 20:31] #1 closed, assigned to nobody

[2021-11-02 20:33] gnanet commented on #7
Got no new feedback in a year, closing for now.

[2021-11-02 20:33] #7 closed, assigned to gnanet

[2021-11-03 07:50] SoniXtrA commented on #11
Hi for this morning here :)
I'm not a dude in SQL ... :( but I wrote :
`SELECT msgs.mail_id, msgs.partition_tag, maddr.partition_tag from msgs, maddr where maddr.id = msgs.sid and msgs.partition_tag != maddr.partition_tag`

and the result is an empty result :)  (0 rows)

So, on my side, the only thing I did on my Amvisd conf is to replace the `$sql_partition_tag = sub { my($msginfo)=@_; iso8601_we

[2021-11-03 07:59] gnanet commented on #11
You can even keep your patition_tag setting if i did the right changes. Just test it

[2021-11-03 08:19] SoniXtrA commented on #11
So...
Now when I enter in "Site Quarantine", the column "TO" show "(none)" for old rows and my email for the recent rows.
I can delete those  with my email in "TO" column and I'm unable to delete those with "(none")...

If I run the SQL I saw in mailzu debug log,
`SELECT
msgs.time_num, msgs.from_addr, msgs.mail_id, msgs.partition_tag, msgs.subject, msgs.spam_level, msgs.content, msgrcpt.rs, msgs.q

[2021-11-03 08:26] gnanet commented on #11
Actually striking trough your partition_tag settings was a bad idea

[2021-11-03 08:33] SoniXtrA commented on #11
As you said "also ensure you have set this to zero in amavis config" so I edited my conf ...
now I can set the old value I had ...

[2021-11-03 13:11] gnanet commented on #11
Yes, the first ide was to simplify the partitioning, but it would require a huge change-set on your side to do, involving updates in more tables. Thats why i decided to try to align the functions to the presence and variablility of the partition_tag.

All in all, i hope you have made your backups of the amavis DB, because as we test some of the solutions, the possibility that some of them wont wor

[2021-11-03 13:17] SoniXtrA commented on #11
My DB was completely backuped so we can go :)
Just a question ... why don't completely drop the database and recreate it correctly because we saw that I had some mistakes ... and we don't know if we don't have problems due to these mistakes ...

[2021-11-03 13:27] gnanet commented on #11
I was wrong to tell you had structural issues,

The conditions were not violated by duplicate email-s in maddr, i just did not expect at the beginning, that you have a configured partition_tag. The required uniqueness was fulfilled with partition_tag+email.

And you only have this diverse quarantine content, so testing on that is possible only if you keep your data

[2021-11-03 14:03] SoniXtrA commented on #11
I tried to vacum the database :)
My mail server is a tiny mail server that I try to maintain from many years.
So don't worry, if I had to drop the database to recreate it ... it could be possible. It won't be worst as it is :)

So first, I stopped amavis !

1- Before I had duplicates ... so with
`SELECT   COUNT(*) AS nbr_doublon, partition_tag, id, email, domain
FROM     maddr
GROUP BY email
HAVIN

[2021-11-03 14:14] gnanet commented on #11
:D ok i read trough your description on what you have done, and ihabe some comments:

1.  I plan to kill `mz_db_clean.pl` thats why i started the php script, so you dont need to run both.
2. To automatically get rid of spam with a specified spam-level i wrote myself a scipt, that i plan to rewrite to php.
3. There is absolutely no need to stop amavis for cleaning the quarantine
4. I would be glad

[2021-11-03 14:59] SoniXtrA commented on #11
I stopped amavis because I would to get rid of duplicates in 'maddr' during the cleaning.

=> Good news ... I just recieve a spam that has been quarantined and I saw through mailzu and i was able to delete it ....
So it works :)

[2021-11-03 15:11] gnanet commented on #11
![Mailzu-ng-Site-Quarantine](https://user-images.githubusercontent.com/5572007/140087581-67e1266b-5b47-464c-a65d-4a2d8d91f0a6.png)
if you have time, check if the partition_tag appears next to each mail_id as i marked on the screenshot

[2021-11-03 15:19] SoniXtrA commented on #11
yes, I saw them this morning when I tried to cleanup the DB.
This morning I had for example :  wXnCiiAemswa [43]

Now, I don't have new quarantined email in Mailzu but, as I changed sql_partition_tag to undef, I could have "wXnCiiAemswa [0]"
I'll tell you as soon as I see it.

[2021-11-03 15:27] gnanet commented on #11
I would say the finish of this issue seems near, and i think, based on the changes in this branch i can start creating the new and shiny php74 branch.

[2021-11-03 15:39] SoniXtrA commented on #11
Yes , clearly and I can help to test if you need !

[2021-11-03 15:58] SoniXtrA commented on #11
anyway, lots of thanks because it works and without you , I will have to clean by the only manual way I used this morning

[2021-11-04 08:38] SoniXtrA commented on #11
hi,

This morning here I have :
![image](https://user-images.githubusercontent.com/93148112/140282698-0865af6f-7f14-4f7b-9e31-1751c087388f.png)

"partition_tag" is well added after "mail_id" and its value is "0" as defined in amavisd.conf (set to undef)
seems to work like a charm :-)

[2021-11-04 21:39] gnanet commented on #14
Moving to composer, as other issues going to be solved by replacing old clases with uptodate composer-packages

[2021-11-04 21:40] gnanet commented on #13
Going to use the latest version, adding to the project as composer package

[2021-11-04 21:42] gnanet commented on #11
The goal of this issue is reached, closing it

[2021-11-04 21:42] #11 closed, assigned to gnanet

[2021-11-04 21:46] gnanet commented on #14
The current manual ordered autoloader needs to switch to composer based one, found this article, and the first, relative simple way seems enough :

https://www.phptutorial.net/php-oop/php-composer-autoload/#shcb-language-6

[2021-11-04 21:52] gnanet commented on #13
https://github.com/PHPMailer/PHPMailer#installation--loading

https://github.com/PHPMailer/PHPMailer#a-simple-example

https://github.com/PHPMailer/PHPMailer/blob/master/examples/mail.phps

[2021-11-04 22:09] gnanet commented on #13
The current used PHPMailer class is modified to use the $conf data, to follow best practice, extending seems the best way:
https://github.com/PHPMailer/PHPMailer/blob/master/examples/extending.phps

[2021-11-05 00:26] #13 closed, assigned to gnanet

[2021-11-05 00:26] #14 closed, assigned to nobody

[2021-11-05 17:05] gnanet commented on #11
@SoniXtrA please if you can, fetch the latest [mailzu-ng-php72](https://github.com/gnanet/mailzu/tree/mailzu-ng-php72) branch, and test it again. But please report as comment into #12
This version contains already composer, so keep in mind, to do a `composer install` in the project root

[2021-11-08 16:59] SoniXtrA commented on #12
hi,

I just installed and configured the last mailzu-mailzu-ng-php72
I did composer install in the project root

`composer install
Loading composer repositories with package information
Warning from https://repo.packagist.org: Support for Composer 1 is deprecated and some packages will not be available. You should upgrade to Composer 2. See https://blog.packagist.com/deprecating-composer-1-support

[2021-11-09 01:14] gnanet commented on #12
@SoniXtrA
I would say, great that you dont see much difference.

Anyway important changes under-the-hood were:
- the latest and secure phpmailer gets loaded, rather than the old and insecure copy, used in the past
- the classes are loaded on demand by the generated autoloader
- i found some problems with the mime parsing, and attachments to quarantined messages were not displayed, now they should

[2021-11-09 10:24] SoniXtrA commented on #12
Just for information,  a thing which has been enhanced :
=> On the screen where I see quarantined emails, before I got some subjects in the list which they were not clickable !
=> Now all emails are clickable and I can enter in every emails.

Other thing, when I want to see headers, everything is correctly displayed and well readable. So it's cool 👍

And the last :) when enter in a quarantined ema

[2021-11-10 18:15] gnanet commented on #12
I will have to look into it. But the solution was intended to block misleading images, that may compromise your system, for example by opening up unknown xss attack vectors, or leak info by loading remote images. So this has to be implemented with care, if ever.

[2021-11-10 19:20] gnanet commented on #12
I was assuming rectorphp had some bugs with the class property typing, seems i was right, so the 7.4 code-rewrite needs a new run using:
https://github.com/rectorphp/rector/releases/tag/0.12.2

[2021-11-11 03:30] gnanet commented on #12
@SoniXtrA

I'm on it, the current status of my tests:

- The option to show remote loadable (src=URL) images: works
- The option to show inline/inline-attached (src=cid: .... ) images: works (edit: could not resist to finish it )

I have to make my testing code clean, and i will push the update soon

[2021-11-11 10:17] gnanet commented on #12
@SoniXtrA just pushed the changes for optional load images (remote + cid-embedded) have a look at it

[2021-11-15 10:19] SoniXtrA commented on #12
Hi :p,

Great Job !!!
Tested and validated... It's just perfect !
Everything seems to work perfectly and seems to be faster than before...
Wow ! => Thanks for everything :)

[2022-09-15 12:04] Karel4 opened #15 "Class 'Auth' not found"
After hours of trial and error with pear install unmentioned plugins I cant get over AH01071: Got error 'PHP message: PHP Fatal error:  Uncaught Error: Class 'Auth' not found in ...

[2022-09-15 23:26] gnanet commented on #15
Can you check if you did run `composer install` ? That should generate an autoloader, which in turn loads all the other classes.
Also please tell me what version of PHP you are using.

[2022-11-01 03:02] gnanet commented on #15
Closing because no response in 1,5 months,
and because the error message points clearly, to the missed step for `composer install`

[2022-11-01 03:02] #15 closed, assigned to nobody

[2022-11-02 06:51] Karel4 commented on #15
Haven't had it (composer) even installed. Also had missing php_imap. Now I got in.